.admin-btn-group {
  display: flex;
  font-size: 1em;
  padding: 7px 16px 7px;
  border-bottom: 1px solid #333;
}

.admin-btn-group > a.admin-btn {
  min-width: 100px;
  margin: 0 10px;
  border: 2px solid var(--sanguine);
  border-radius: 5px;
  background: white;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--sanguine);
  font-weight: 600;
  transition: .2s ease;
}

.admin-btn-group > a.admin-btn:hover {
  background: var(--sanguine);
  color: white;
  border-color: var(--sanguine);
  transition: .2s ease;
}

.admin-btn-group > a.admin-btn i {
  padding-left: 10px;
  font-size: .9em;
}