.admin-left-pane-menu-wrapper {
  margin: 10px;
  border: 1px solid var(--sanguine);
  border-radius: 5px;
}

.admin-left-pane-menu-wrapper > .admin-left-pane-menu-title {
  background: var(--sanguine);
  padding: 10px;
  color: var(--backdropWhite);
  font-size: 1.2em;
  font-weight: 400;
}

ul.admin-left-pane-menu {
  list-style: none;
}

ul.admin-left-pane-menu > li > a {
  font-size: 1.1em;
  display: block;
  padding: 10px 0 10px 20px;
  text-decoration: none;
  color: #0c0c0c;
  border-top: 1px solid var(--sanguine);
  transition: .2s ease;
}

ul.admin-left-pane-menu > li > a:hover {
  background: rgba(102, 14, 14, .85);
  color: var(--backdropWhite);
  transition: .2s ease;
}

/* Sanguine rgb */
/* color: rgb(102, 14, 14); */