.socials-wrap {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.socials-wrap .icon-container {
  padding: 0 15px;
}

.socials-wrap .icon-container .icon > a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  padding-top: 30px;
  text-align: center;
}

.section-title h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
}

i.fab {
  font-size: 40px;
}