.music-streaming {
  display: flex;
  justify-content: center;
}

.spotify-follow {
  display: flex;
  justify-content: center;
  height: 80px;
}

.coverart > img {
  display: none;
}

.coverart iframe {
  display: none;
}

.coverart iframe.active {
  display: inline-block;
}

.music-title h2.title {
  text-align: center;
  font-size: 30px;
}

@media screen and (min-width: 600px) {
  .coverart > img {
    display: inline-block; 
    width: 400px;
    height: 400px;
  }
}